<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Login</title>
<link rel="stylesheet" href="../../static/resources/app/css/styles.css"
    th:href="@{/resources/app/css/styles.css}">
</head>
<div id="wrapper">
    <h1>Login Form</h1>
    <div th:if="${param.error != null}" style="color: red;">
        認証エラー
    </div>
    <form th:action="@{/login}" method="POST">
        <label for="username">ユーザー名</label> <input type="text"
            id="username" name="username"> <label for="password">パスワード</label>
        <input type="password" id="password" name="password">
        <button>ログイン</button>
        <input type="hidden" th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    </form>
</div>
</body>
</html>
